apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-ptba
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-deploy-tenant/appstudio/dc-metro-map-ptba@sha256:b6cdaae4c1389fba4608effa876594ead615cf1e952e437ae2feaba7571a3e34
        name: my-nodejs
        resources: {}
status: {}
